<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <p>
    <%= @blog.body %>
  </p>

  <div>
    <% if logged_in?(:site_admin) %>
      <div>
        <%= form_for :comment do |f| %>
            <div class="form-group">
              <%= f.text_area '评论', placeholder: '添加评论',class: 'form-control' %>
            </div>
          <%= f.submit '提交', class: 'btn btn-primary'%>
        <% end %>
      </div>
    <% end %>
    <div class="comments">
      <h3>评论</h3>
      <% @comments.each do |comment| %>
        <div class="card card-outline-primary mb-3">
          <div class="card-block">
            <div class="row">
              <div class="col-md-2">
                <img src="http://placehold.it/60x60" class="rounded float-left">
              </div>
              <div class="col-md-10">
                <div><%= comment.content %></div>
                <div><%= time_ago_in_words comment.updated_at %> 前发表</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>


